@font-face {
    font-family: 'Death Note';
    src: url('./utils/Death\ Note.ttf') format('truetype');
  }

body {
    background-color: #202020;
    font-family: 'Death Note', sans-serif;
    height: 100%;
    padding: 0;
    margin: 0;
  }

.container {
    display: flex;
    justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid white;
  height: 99vh;
}

.h1title {
    margin: 0;
    height: 80px;
}

#firstWordTitle {
    color: white;
    font-size: 80px;
}


#lastWordTitle {
    color: red;
    font-size: 90px;
}

#titlesub {
    color: white;
    font-size: 25px;
    padding-top: 30px;
}

#startbutton {
    background-color: inherit;
    font-family: 'Death Note';
    color: white;
    border: 0;
    border-bottom: 1px solid white;
    font-size: 30px;
    padding-bottom: 0;
    text-decoration: none;
    padding-top: 150px;
}

#startbutton:hover {
    color: red;
    border-bottom: 1px solid red;
    text-decoration: none;
}

#gifhome {
    margin: 0;
    width: 100vw;
}

#gifhomeimg {
    margin: 0;
    padding: 0%;
    width: 200px;
}

/* Questions styles */

#firstWordQuestion {
    color: white;
    font-size: 40px;
}

#lastWordQuestion {
    color: red;
    font-size: 60px;
}

.titlequestion {
    padding: 0;
    margin: 0;
}

.h1titlequestion {
    padding: 0;
    margin: 0;
}