@font-face {
    font-family: 'Death Note';
    src: url('./utils/Death\ Note.ttf') format('truetype');
  }

body {
    background-color: #202020;
    font-family: 'Death Note', sans-serif;
    height: 100%;
    padding: 0;
    margin: 0;
  }

.container {
    display: flex;
    justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid white;
  height: 99vh;
}

.h1title {
    margin: 0;
    height: 80px;
}

#firstWordTitle {
    color: white;
    font-size: 80px;
}


#lastWordTitle {
    color: red;
    font-size: 90px;
}

#titlesub {
    color: white;
    font-size: 25px;
    padding-top: 30px;
}

#startbutton {
    background-color: inherit;
    font-family: 'Death Note';
    color: white;
    border: 0;
    border-bottom: 1px solid white;
    font-size: 30px;
    padding-bottom: 0;
    text-decoration: none;
}

#startbutton:hover {
    color: red;
    border-bottom: 1px solid red;
    text-decoration: none;
}

#gifhome {
    margin: 0;
    width: 100vw;
}

#gifhomeimg {
    margin: 0;
    padding: 0%;
    width: 200px;
}

#starthome {
    padding-top: 150px;
}

/* Questions styles */

.containerquestion {
  border: 1px solid white;
  height: 99vh;
}

#logodiv {
    display: flex;
  align-items: center;
  flex-direction: column;
}

#questiondiv {
    margin-top: 50px;
    margin-left: 100px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

#buttondiv {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    margin-top: 150px;
    margin-right: 50px;
}

#firstWordQuestion {
    color: white;
    font-size: 40px;
}

#lastWordQuestion {
    color: red;
    font-size: 60px;
}

.titlequestion {
    padding: 0;
    margin: 0;
}

.h1titlequestion {
    padding: 0;
    margin: 0;
}

#questionh1 {
    color: white;
    font-size: 50px;
}

.options {
    color: white;
    font-size: 30px;
    cursor:pointer;
}

#submitbutton {
    display: none;
    background-color: inherit;
    font-family: 'Death Note';
    color: white;
    border: 0;
    font-size: 30px;
    padding-bottom: 0;
    text-decoration: none;
    cursor:pointer;
}

#buttonnext {
    display: none;
    background-color: inherit;
    font-family: 'Death Note';
    color: white;
    border: 0;
    font-size: 30px;
    padding-bottom: 0;
    text-decoration: none;
    cursor:pointer;
}

#buttonnext:hover {
    color: red;   
}

#submitbutton:hover {
    color: red;
}